th {
	background-color: #5e0231; 
  border-color: #5B5BEB; 
  color: #f1f3ce;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #ecf9f2;
 }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #c6ecd9;
 }


/* breaks up very long words to avoid corrupting table cells  */
td {
word-break:break-all;
}




